:root {
  --color-brand: #5085b7;
  --color-gray-90: #373946;
  --color-gray-70: #565869;
  --color-gray-50: #77798a;
  --color-gray-30: #b3b4bd;
  --color-gray-10: #eeeef0;
  --color-neutral-90: #002c59;
  --color-neutral-50: #0779e4;
  --color-neutral-10: #e1eefa;
  --color-negative-90: #750001;
  --color-negative-50: #dd3345;
  --color-negative-10: #f6dbdd;
  --color-positive-90: #005929;
  --color-positive-50: #21bf73;
  --color-positive-10: #dbf2e7;
  --color-warning-90: #523d00;
  --color-warning-50: #f5af4b;
  --color-warning-10: #faebd5;
  --color-primary: #191a22;
  --color-secondary: var(--color-gray-70);
  --color-link: var(--color-neutral-50);
  --font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --leading-tight: 1.1;
  --leading-base: 1.5;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1.125rem;
  --size-lg: 1.5rem;
  --size-xl: 2rem;
  --size-2xl: 2.5rem;
  --size-3xl: 3rem;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-px: 1px;
  --weight-normal: 400;
  --weight-bold: 700;
}
